.onum {
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: "onum";
    -webkit-font-feature-settings: "onum";
    font-feature-settings: "onum";
    /*color:#113F51;*/
}

#logo {
    height: 3.5rem;
}
.w-45 {
  width:45%;
}

@media screen and (min-width: 30em) {
    #logo {
        height: auto;
        width: 16rem;
    }
}
background: -webkit-linear-gradient(to left, #870000 , #190A05);
background: linear-gradient(to left, #870000 , #190A05);
