<footer class="bt b--light-gray mt6 mt7-ns">
    <div class="mw8 center flex-ns justify-between-ns ph3 ph4-ns ph3-l">
        <div class="mt5 mb4">
            <h1 class="f4 normal fw4 lh-copy mb0 gray small-caps">location</h1>
            <p class="f4 lh-copy mt2">
                <span style="font-size:90%;">367</span> Avenue of the Cities
                <br> East Moline, Illinois <span style="font-size:90%;">61244</span>
            </p>
        </div>
        <div class="mt5-ns mb4">
            <h2 class="f4 normal fw4 lh-title mb0 gray small-caps">phone</h2>
            <p class="f4 lh-copy mt2">
                309-755-2193
            </p>
        </div>
        <div class="mt5-ns mb4">
            <h3 class="f4 small-caps normal fw4 lh-title mb0 gray">email</h3>
            <p class="f4 lh-copy mt2">
                hello@hignights.com
            </p>
        </div>
    </div>
    <div class="center cf mw8 gray mb4 courier f5 ph3 ph4-ns ph3-l">
        <p class="fl-ns">&#169; Hignight's 2016</p>
        <p class="fr-ns">Site by <a class="gray" href="tylernford.com">Tyler N. Ford</a></p>
    </div>
</footer>
