<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hignight's | Florists since 1946</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <script src="https://use.typekit.net/kyy8woz.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}

    </script>
    <style>
        .onum {
            font-variant-numeric: oldstyle-nums;
            -moz-font-feature-settings: "onum";
            -webkit-font-feature-settings: "onum";
            font-feature-settings: "onum";
        }

    </style>
</head>

<body class="tk-garamond-premier-pro" style="background-color:#FFF;color:#113F51;-webkit-font-smoothing: antialiased;">
    <header class="tc">
        <p class="lh-solid f2 onum"><span class="fw3 f-5 small-caps">Hignight's</span>
            <br>
            <span class="i">florists since 1946</span>
            <br> <span class="f1">&mdash;</span>
            <br> 367 Avenue of the Cities
            <br> East Moline, Illinois
        </p>
        <p>&mdash;</p>
        <img class="center mw6 mv5" src="../images/header.svg">
    </header>
    <div class="mw8 center mt6">
        <div class="fr f4 f3-ns measure lh-copy ph3 ph4-ns ph0-l bg-green">
            <h1 class="fw4 f5 f5-ns normal courier mid-gray">Our History</h1>
            <p class="f3 f2-ns i mt4 onum" style="-webkit-font-feature-settings: 'calt' 0;
        font-feature-settings: 'calt' 0;">In <span class="">1946</span> our flower shop began as simply a small area in a family run grocery store owned by Emmet and Lela Hignight. In 1964, as the Quad Cities grew and customers' needs changed, our current location was built and became known as Hignight Florists.</p>
            <p>Just like Emmet and Lela, and their son and daughter-in-law Ken and Karen, we are devoted to creating visual harmony and welcome the opportunity to make each and every occasion unique. Our floral arrangement designs range from sparse, simple, and contemporary to lush, luxurious, and romantic. Regardless of the style, the overall effect is one that is elegant and refined, vibrant and inspired.</p>
        </div>
        <div class="fl f5 f3-ns measure-narrow lh-copy ph3 ph4-ns ph0-l">
            <h1 class="fw4 f5 f5-ns normal courier mid-gray">Our Services</h1>
            <p class="mt4">
                Stuff
                <br> And Things
                <br> Things
                <br> Flowers
                <br> More Stuff</p>
        </div>
    </div>
    <imig class="z-0 left-0 bottom-0 fixed" style="width:350px" src="../images/corner-left-fern.svg">
</body>

</html>
