<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hignight's | Florists since 1946</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <style>
        .onum {
            font-variant-numeric: oldstyle-nums;
            -moz-font-feature-settings: "onum";
            -webkit-font-feature-settings: "onum";
            font-feature-settings: "onum";
        }
    </style>
</head>

<body class="athelas" style="background-color:#F7F7F7;color:#113F51;-webkit-font-smoothing: antialiased;">
    <div class="f4 measure center lh-copy">
        <h1 class="fw4 f4 normal">Since 1946</h1>
        <p class="f3 i">In <span class="onum">1946</span> our flower shop began as simply a small area in a family run grocery store owned by Emmet and Lela Hignight. In 1964, as the Quad Cities grew and customers' needs changed, our current location was built and became known as Hignight Florists.</p>
        <p class="f4">Just as Emmet and Lela, and their son and daughter in law Ken and Karen, we are devoted to creating visual harmony and welcome the opportunity to make each and every occasion unique. Our floral arrangement designs range from sparse, simple, and contemporary to lush, luxurious, and romantic. Regardless of the style, the overall effect is one that is elegant and refined, vibrant and inspired.</p>
    </div>
</body>

</html>
