<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hignight's | Florists since 1946</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <script src="https://use.typekit.net/kyy8woz.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <style>
        .onum {
            font-variant-numeric: oldstyle-nums;
            -moz-font-feature-settings: "onum";
            -webkit-font-feature-settings: "onum";
            font-feature-settings: "onum";
            /*color:#113F51;*/
        }

        #logo {
            height: 4rem;
        }

        @media screen and (min-width: 30em) {
            #logo {
                height: auto;
                width:16rem;
            }
        }
    </style>
</head>

<body class="athelas dark-gray bg-near-white tkk-garamond-premier-pro" style="background-color:#FFF;-webkit-font-smoothing: antialiased;">
    <header class="tc" style="background:url(../images/photo-1465146344425-f00d5f5c8f07.jpg) no-repeat center center;background-size:cover;">
        <img id="logo" class="center mt4 mt5-ns mb6" src="../images/logo-blue2.svg">
        <div class="mb6 mb7-ns ph3">
            <h1 class="fw3 f3 f2-ns f1-l i mw7 center" style="color:#113F51;">Something about flowers and how great we are</h1>
            <a class="f6 f4-ns link grow br2 ph3 pv2 mb2 dib mr3 mr4-ns white" style="background-color:#113F51;" href="#0">See our work</a>
            <a class="f6 f4-ns link grow br2 ph3 pv2 mb2 dib white" style="background-color:#113F51;" href="#0">Order online</a>
        </div>


        <nav class="bb b--light-gray courier f4 pv3 bg-white" style="box-shadow: 0px 4px 4px 0px rgba( 0, 0, 0, 0.04 );">
            <a class="link gray" style="color:#113F51;" href="#">Contact</a>
            <a class="link gray ml4" style="color:#113F51;" href="#">About</a>
            <a class="link gray ml4" style="color:#113F51;" href="#">Services</a>
            <a class="link gray ml4" style="color:#113F51;" href="#">Order</a>
            <a class="link gray ml4" style="color:#113F51;" href="#">Blog</a>
        </nav>
    </header>
    <div class="mv6 tc courier">
        <div class="dib ph3">
            <img src="../images/products/1.jpg">
            <p class="lh-copy">Vibrant Views Bouquet
                <br>$49.99</p>
        </div>
        <div class="dib ph3">
            <img src="../images/products/2.jpg">
            <p class="lh-copy">Abundant Harvest
                <br>$59.99</p>
        </div>
        <div class="dib ph3">
            <img src="../images/products/3.jpg">
            <p class="lh-copy">Bountiful Harvest
                <br>$79.99</p>
        </div>
    </div>
    <div class="mw8 center mt6 cf ph4-l">
        <div class="fr-l f4 f3-ns measure lh-copy ph3 ph4-ns ph0-l">
            <h1 class="fw4 f5 f5-ns normal courier mid-gray">Our History</h1>
            <p class="f3 f2-ns i mt4-ns onum" style="-webkit-font-feature-settings: 'calt' 0;
        font-feature-settings: 'calt' 0;">In <span class="">1946</span> our flower shop began as simply a small area in a family run grocery store owned by Emmet and Lela Hignight. In 1964, as the Quad Cities grew and customers' needs changed, our current location was built and became
                known as Hignight Florists.</p>
            <p>Just like Emmet and Lela, and their son and daughter-in-law Ken and Karen, we are devoted to creating visual harmony and welcome the opportunity to make each and every occasion unique. Our floral arrangement designs range from sparse, simple,
                and contemporary to lush, luxurious, and romantic. Regardless of the style, the overall effect is one that is elegant and refined, vibrant and inspired.</p>
        </div>
        <div class="fl-l f4 f3-ns measure-narrow lh-copy ph3 ph4-ns ph0-l mt5 mt0-l">
            <h1 class="fw4 f5 normal courier mid-gray">Our Services</h1>
            <p class="mt4-ns">
                Stuff
                <br> And Things
                <br> Things
                <br> Flowers
                <br> More Stuff</p>
        </div>
    </div>
    <footer class="bt b--light-gray mt6 mt7-ns">
        <div class="mw8 center flex-ns justify-between-ns ph3 ph4-ns ph3-l">
            <div class="mt5 mb4">
                <h1 class="f4 normal fw4 lh-copy mb0 gray small-caps">location</h1>
                <p class="f4 lh-copy mt2">
                    <span style="font-size:90%;">367</span> Avenue of the Cities
                    <br> East Moline, Illinois <span style="font-size:90%;">61244</span>
                </p>
            </div>
            <div class="mt5-ns mb4">
                <h2 class="f4 normal fw4 lh-title mb0 gray small-caps">phone</h2>
                <p class="f4 lh-copy mt2">
                    309-755-2193
                </p>
            </div>
            <div class="mt5-ns mb4">
                <h3 class="f4 small-caps normal fw4 lh-title mb0 gray">email</h3>
                <p class="f4 lh-copy mt2">
                    hello@hignights.com
                </p>
            </div>
        </div>
        <div class="center cf mw8 gray mb4 courier f6 ph3 ph4-ns ph3-l">
            <p class="fl-ns">&#169; Hignight's 2016</p>
            <p class="fr-ns">Site by <a class="gray" href="tylernford.com">Tyler N. Ford</a></p>
        </div>
    </footer>
    <!--<img class="z-0 left-0 bottom-0 fixed" style="width:350px" src="../images/corner-left-fern.svg">-->
</body>

</html>
